/* ----- CytoScape ----- */
#cytoscape {
    width: 680px;
    height: 300px;
    position: absolute;
    top: 170px;
    left: 10px;
    border: dotted 1px black;
}
#cytoscape-tape {
    width: 680px;
    height: 50px;
    position: absolute;
    top: 485px;
    left: 10px;
    
}

.arrow-down {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #000; 
    left: 334px;
    top: 395px;
  }

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
.modal-content {
    background-color: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

button {
    background-color: yellowgreen;
}