/* ----- CytoScape ----- */
#cytoscape_sub {

    width: 750px;

    
    height: 550px;
    position: absolute;
    top: 40px;

    border: dotted 1px black;

}

footer {
    position: absolute;
    top: 600px;
}