/* ----- Body ----- */
body{
    font-family: Helvetica;
}

/* ----- Behavoir of very narrow window ----- */


@media screen and (max-width: 940px) {
    #rightWindow{
        text-align: left !important;
        left: 10px;
        right: auto;
        padding-left: 800px;
    }
}


.centered-content{
    text-align: center;
    align-items: center;
}

/* ----- Title ------- */
#titleDiv{
    min-width: 920px;
}


/* ----- CytoScape ----- */
#cytoscape {

    min-width: 640px;
    width: calc(100% - 300px);
    margin-left: 150px;
    margin-right: 150px;
    height: 400px;
    position: absolute;
    top: 90px;

    border: dotted 1px black;

}
#cytoscape-tape {
    min-width: 640px;
    max-width: calc(100% - 300px);
    width: 100%;
    margin-left: 150px;
    margin-right: 150px;
    height: 50px;
    position: absolute;
    top: 515px;

   

}
/* ----- Arrow Tape Position ----- */
.arrow-down {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #000; 
    left: 462px;
    top: 425px;
  }


/* ----- Move Tape div ----- */
#tapeControlDiv{
    min-width: 950px;
    position: relative;
    top: 480px;
}
/* ----- Simulation Control div ----- */
#simulationControlDiv{
    min-width: 950px;
    position: relative;
    top: 490px;
}

/* ----- presets & save & load ----- */
#rightWindow{
    min-width: max-content;
    position: fixed;
    width: max-content;
    top: 100px;
    right: 10px;
    text-align: right;
}
#fileInput{
    width: 125px;
}

/* ----- user Guide ----- */
h3{
    font-size: 17px;
}

#leftWindow{
    position: absolute;
    width: max-content;
    top: 80px;
}
#userGuide{
    font-size: 11px;
}


/* ----- Button Design ----- */
button{
    width: 150px;
    height: 30px;
    font-weight: 700;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    color:#363636
}
/*Move Tape Buttons*/
.grey-button{
    background-color: #ccc;
    border: 2px solid darkgray;
}
.grey-button:hover{
    color: rgba(0, 0, 0, 0.815);
    background-color: darkgray;
    border: 2px solid darkgray
}
.grey-button:disabled{
    color: rgba(206, 118, 118, 0.815);
    background-color: rgb(238, 238, 238);
    border: 2px solid rgb(255, 173, 173);
    cursor: not-allowed;
}

/*Simulation Buttons*/
.green-button{
    color: white;
    background-color: #bfdf56;
    border: 2px solid #adca4d;
}
.green-button:hover{
    background-color: #adca4d;
    border: 2px solid #adca4d;
}
.green-button:disabled{
    color: rgba(206, 118, 118, 0.815);
    background-color: rgb(238, 238, 238);
    border: 2px solid rgb(255, 173, 173);
    cursor: not-allowed;
}

/*Step Simulation*/
#stepSimulationButton, #resetSimulationButton{
    width: 80px;
}

/*Save Button*/
#saveButton{
    width: 120px;;
}

/* Preset */
select {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 2px solid darkgrey;
    text-align: center;
    font-weight: 700;
    transition: transform 0.2s;
}
select:hover{
    background-color: darkgrey;
};
/* Style the options */
option {
    background-color: #f2f2f2;
    padding: 5px;
    border: 1px solid #ccc;
}

/*Simulation Speed */
/* ----- Simulation Speed Slider */
.slider {
    -webkit-appearance: none;
    cursor: pointer;
    width: 200px;
    height: 22px;
    border-radius: 100px;
    background: #ccc;
    margin: 0 auto; /* Center the slider horizontally */
    margin-top: 8px;
    transition: transform 0.2s;
}
.slider:hover{
    border: solid 2px rgb(109, 109, 109);
    transition: background-color 0.3s;

}
#simulationSpeed{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ------- Modals ------*/

/*save  modal */
#saveModal{
    padding-top: 100px;
    padding-left: 100px;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Modal */
.modal {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
.modal-content {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}



/* on-off switch */
/* --- on off switch  code adapted from https://alvarotrigo.com/blog/toggle-switch-css/ --- */
.fancy-checkbox{
    height: 0;
    width: 0;
    visibility: hidden;
}

.checkboxLabel {
    cursor: pointer;
    text-indent: 60px;
    width: 40px;
    height: 22px;
    background: #ccc;
    display: block;
    border-radius: 100px;
    border: solid 2px #ccc;
    position: relative;
}
.fancy-checkbox:enabled:hover + .checkboxLabel{
    border: solid 2px rgb(109, 109, 109);
    transition: border 0.2s;
    transform: scale(1.05);
}

.fancy-checkbox:disabled + .checkboxLabel{
    background-color: #ff9f9f88;
    border: 2px solid rgb(194, 194, 194);
}

.checkboxLabel:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 10px;
    transition: 0.2s;
}

.fancy-checkbox:checked + .checkboxLabel {
    background: #bfdf56;
    border: solid 2px #bfdf56;
}

.fancy-checkbox:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}




button {
    background-color: yellowgreen;
}

footer {
    position: absolute;
    top: 800px;
}